/* css styles */
h1 {
  font-size: 22px;
  margin-bottom: 0.5rem; /* between paragraphs */
  border-bottom: 1px solid #dee2e6;
  border-top: 0px;
  padding-bottom: 0.2rem;
  font-style: bold;
}
h2 {
  font-size: 18px;
  display: list-item; /* This has to be "list-item"                                          */
  margin-left : 1em;  /* If you use default list-style-position 'outside', you may need this */
  border-bottom: 0px;
  border-bottom: 1px solid #dee2e6;
  border-top: 0px;
  padding-bottom: 0.1rem;
  font-style: italic;
}
h3 {
  font-size: 16px;
}
h4 {
  display: list-item; /* This has to be "list-item"                                          */
  list-style-type: circle;
  margin-left : 1em;  /* If you use default list-style-position 'outside', you may need this */
  font-size: 16px;
  margin-bottom: 0.5rem; /* between paragraphs */
  border-bottom: 1px solid #dee2e6;
  border-top: 0px;
  padding-bottom: 0.1rem;
  font-style: italic;
}
input {
  font-size: 14px;
}
li {
  line-height: 1.5;
}